<div class="footer">
   
    <!-- <div style="margin-left:150px">
        <a class="heading"> Product(s)</a><br>
        <a><i class="icon ion-logo-buffer" style="font-size: 30px;" ></i> Product 1</a><br>
        <a><i class="icon ion-logo-buffer" style="font-size: 30px;"></i> Product 2</a>     
    </div> -->
    <div class="footer1"  >
            <a class="heading" >  Connect  </a><br><br>
            <a> <i class="icon ion-logo-facebook" style="padding-right:25px;"></i></a>
            <a> <i class="icon ion-logo-twitter" style="padding-right:25px;"></i> </a>
            <a> <i class="icon ion-logo-instagram" style="padding-right:25px;"></i></a>
            <a> <i class="icon ion-logo-linkedin" style="padding-right:25px;"></i> </a>
        </div>

    <div class="footer1">
        <a class="heading">Community</a><br><br>
        <a><i class="icon ion-md-people" style="font-size: 30px;"></i> Enterprise </a><br><br>
        <a><i class="icon ion-md-fitness" style="font-size: 30px;"></i> For developer </a><br><br>
        <a> <i class="icon ion-md-school" style="font-size: 30px;"></i> For student </a>
    </div>
   
    <div class="footer1">
        <a class="heading"> About Us </a><br><br>
        <a><i class="icon ion-md-rocket" style="font-size: 30px;"></i> Careers </a><br><br>
        <a> <i class="icon ion-md-call" style="font-size: 30px;"></i> Contact us </a><br><br>
        <a> <i class="icon ion-md-list" style="font-size: 30px;"></i> Terms and condition </a>
    </div><div class="clear"></div>
    <hr style="height:3px;
    width:100%;
    background-color:#9be353;
    
    position: relative;
    
    border:#9be353;"> 
    <div style="  background:none;width:99vw;height:40px;">
         <p class="india"> Hello from India <i class="icon ion-md-heart" style="font-size: 20px;"> </i></p>
         <p class="copyright"> &copy;2018 CONSORTYM</p>   
        </div>
</div>






<!--
<div class="container">
<img class="logo"  src="../../../assets/consortym logo 2.png">
<img class="logo" src="../../../assets/Made in India 1.png"> 
<span>-->
  