.footer{
    background-image:url(../../../assets/map2.png);
    color:white;
    background-repeat: repeat;
}

.col-4{
    height: 380px;
    padding-left:50px;
    border-bottom:solid #9be353;
    padding-right:0px;
}
.col-6{
    padding-right:0px;
    
}
.heading{
    color:#9be353;
    font-size:35px;
    font-weight: 500;
    
  
}
.heading:hover{
    text-decoration: none;
    cursor: initial;
}
a{ 
    font-size:19px;
    text-decoration: none;
    
 
}
a:hover{
    font-size:20px;
    cursor: pointer;
}
.icon{
    font-size:40px;
    padding-right: 10px;
}
.india{
    margin-top:10px;
    
    color:#9be353;
    font-weight: 500;
    margin-left:10px;
}
.copyright{
    margin-top:10px;
    font-weight: 500;
    text-align: right;
    margin-right:30px;
    color:#9be353;
}
a{
    color:white;
    
}