<div class="row">
    <div class="col-6">
        <div   class= "left">
            <img  class="secondimg" src="../../../assets/second.png">
            
    </div>
        </div>
      <div class="col-6">
          <h1 class ="heading">Designing Future  </h1>
          <p class="content">
              Blockchain technology is redefining the concept of trust and transforming how we think about the structures of everyday life, from identity to economics, and government. It pushes us to think systemically and at larger scales.
              <br> We are committed to building the decentralized future.
          </p>
      </div>
</div>
<br><br><br><br><br><br>
<div class="row">
    <div class="col-6">
        <div   class= "left">
            <h1 class ="heading">How we do? </h1>
            <p class="content">
                    We use Innovative design techniques to develop Dapps and Smart Contract for Enterprise, Customer and everyone.
            </p>
    </div>
        </div>
      <div class="col-6">
          <img  class="thirdimg"  src="../../../assets/third.png">
      </div>
</div>
<br><br><br><br><br><br>
<div class="row">
    <div class="col-6">
        <div   class= "left">
            <img  class="fourthimg"  src="../../../assets/fourth.png">
    </div>
        </div>
      <div class="col-6">
            <h1 class ="heading">What we do? </h1>
            <p class="content">
                In the process we happen to make adoption of blockchain application for consumers and enterprise a smoother experience by building a permissioned blockchain ecosystem with a single Distributed Ledger Technology.
              </p>
      </div>
</div>
<br><br><br><br><br><br>
<br><br><br><br><br><br>
<div class="row">
    <div class="col-6">
        <div   class= "left">
            <h1 class ="heading">Technology </h1>
            <p class="content">
                We use Hyperledger Frameworks to develop Dapps and  Go language to develop Smart Contracts.
            </p>
    </div>
        </div>
      <div class="col-6">
          <img  class="fifthimg"  src="../../../assets/fifth.png">
      </div>
</div>