
<div style="" class= "left">
        <img style="height:500px;width:350px;margin-left:140px;margin-top:100px;" class="img" src="../../../assets/design copy.png">
</div>
<div style="background:none;width:400px;margin-top:250px" class= "right" >
        <h1 class ="heading">Designing Future </h1>
        <p class="content">
                Blockchain technology is redefining the concept of trust and transforming how we think about the structures of everyday life, from identity to economics, and government. It pushes us to think systemically and at larger scales.<br> We are committed to building the decentralized future.
        </p>
</div>
<div class="clear"></div>
<div style="background:none;margin-left:140px;width:400px;"  class= "left">
    <h1 class ="heading">How we do? </h1>
    <p class="content">
            We use Innovative design techniques to develop Dapps and Smart Contract for Enterprise, Customer and everyone.
    </p>
</div>
<div style="" class= "right">
    <img style="height:500px;width:490px;margin-top:-100px" class="img"  src="../../../assets/secondnew.png">
</div>
<br>
<div class="clear"></div>
<div style="" class= "left">
    <img style="height:500px;width:450px" class="img" src="../../../assets/third.png">
</div>
<div style="background:none;width:390px" class= "right">
    <h1 class ="heading">What we do?  </h1>
    <p class="content">
            In the process we happen to make adoption of blockchain application for consumers and enterprise a smoother experience by building a permissioned blockchain ecosystem with a single Distributed Ledger Technology.
</p>
</div>
<div class="clear"></div>
<div style="background:none;margin-left:140px;width:280px;"  class= "left">
    <h1 class ="heading">Technology </h1>
    <p class="content">
            We use Hyperledger Frameworks to develop Dapps and  Go language to develop Smart Contracts.
    </p>
</div>
<div style="" class= "right">
        <img style="height:400px;width:420px" class="img" src="../../../assets/fourth.png">
</div>
<div class="clear"></div>