<div  class="row">
    <div class="column">
      <img class="hyper" src="../../../assets/hyperledger.png">
    </div>
    <div class="column">
      <img class="go" src="../../../assets/go.png" >
    </div>
    <div class="column" style="width:200px;">
      <img class="js" src="../../../assets/480px-Unofficial_JavaScript_logo_2.svg.png" >
    </div>  
    <div class="columna">
      <img class="angular" src="../../../assets/angular-card.png" >
    </div>
  </div>
   
<div class="team">
   <h1 class="heading"> Meet Our Team </h1>
    <div class="row" >
        <div class="column" >
                <img class="teampeople" src="../../../assets/Apoorva.png">
                <p class="name" >Anuroop Mishra <br></p>
                <p class="work">Designer & Creator </p>
        </div>
        <div class="column" >
                 <img  class="teampeople"src="../../../assets/abhi.png">
                 <p class="name" >Abhinav Mishra <br></p>
                 <p class="work">Believer & Executor</p>
        </div>
        <div class="column">
                 <img class="teampeople" src="../../../assets/anub.png">
                 <p class="name"  >Anubhav Mishra <br></p>
                 <p class="work"> Designer & Creator</p>
        </div>
      </div>
      </div> 