

.team{
    text-align:center;
   font-weight: 500;
   margin-top:90px;
   font-size: 30px;
   height: 705px;
}
.column {
    float: left;
    width: 300px;
    padding-left:29px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}
/* 
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clearfix (clear floats) 
.row::after {
    content: "";
    clear: both;
    display: table;
} */