<div style="margin-top:50px;margin-bottom:100px;margin-left:70px;" class="row">
  <div class="column">
    <img src="../../../assets/hyperledger.png" style="width:250px;height:100px;">
  </div>
  <div class="column">
    <img src="../../../assets/go.png" style="width:250px;height:120px;">
  </div>
  <div class="column" style="width:200px;">
    <img src="../../../assets/480px-Unofficial_JavaScript_logo_2.svg.png" style="width:120px;height:120px;">
  </div>  
  <div class="column">
    <img src="../../../assets/angular-card.png" style="width:230px;height:120px;">
  </div>
</div>
<div class="clear"></div>


<div class="team">
 <h1 class="heading"> Meet Our Team </h1>
  <div class="row" style="margin-left: 150px; margin-top:50px;text-align: center">
      <div class="column" >
              <img src="../../../assets/Apoorva.png" style="height:220px;width:220px;border-radius: 50%; box-shadow: 0 0 10px #404040;"><p style="font-size:15px">Anuroop Mishra<br></p><p style="font-size:12px;color:#404040">Designer & Creator </p>
            </div>
              <div class="column" >
        <img src="../../../assets/abhi.png" style="height:220px;width:220px;border-radius: 50%; box-shadow: 0 0 10px #404040;"><p style="font-size:15px">Abhinav Mishra<br> </p><p style="font-size:12px;color:#404040">Believer & Executor</p>
      </div>
      <div class="column">
        <img src="../../../assets/anub.png"  style="height:220px;width:220px;border-radius: 50%;box-shadow: 0 0 10px #404040;"><p style="font-size:15px">Anubhav Mishra <br> </p><p style="font-size:12px;color:#404040"> Designer & Creator</p>
      </div>
     
    </div>
    </div> 