<div class="row">
  <div class="col-4">
<img class=logo src="../../../assets/consortym logo.png">
<div id ="name"> CONSORTYM </div>
<div   class= "left">
  <h1 class ="heading"> Blockchain for the <br>Enterprise of Future </h1>
  <p class="content">
    At Consortym, our aim is to empower every person and every organization on the planet to achieve trust.
    <br> Our mission is to bring the world on Blockchain.
  </p>
</div>
  </div>
  <div class="col-8">
<div class="header">
    <div class="container">
        <a class="design" ><i class="icon ion-md-planet"></i> HOME</a>
        <a class="design"><i class="icon ion-logo-buffer"></i> PRODUCTS</a>
        <a class="design"><i class="icon ion-md-paper"></i> BLOG</a>
      <a routerLink="/login" class="button"  > LOG IN / SIGN UP </a> <br>
            <img class="img" src="../../../assets/first.png">
      </div>
  </div>
</div>