<div class="header">
<div id="logo">
<a routerLink="">
  <img  style="height: 120px; width: 120px; margin-left:100px;"  src="../../../assets/consortym logo.png">
<div id ="name">CONSORTYM
</div>
<!--<hr class="name1"> -->
</a>
<div   class= "left">
  <h1 class ="heading"> Blockchain for the <br>Enterprise of<br> Future </h1>
  <p class="content">
    At Consortym, our aim is to empower every person and every organization on the planet to achieve trust.<br> Our mission is to bring the world on Blockchain.

    </p>
</div>
</div>
<div class="container">
  <a class="design" style="">
    <i class="icon ion-md-planet"></i> HOME</a>
  <a class="design"><i class="icon ion-logo-buffer"></i> PRODUCTS</a>
  <a class="design"><i class="icon ion-md-paper"></i> BLOG</a>
<a routerLink="/login" class="button" style="margin-left:20px" > LOG IN / SIGN UP </a> <br>
<!-- <a routerLink="/signup" class="button">SIGN UP </a>  -->
<img class="img" style="margin-left:120px;height:450px;width:450px;margin-top:100px;"src="../../../assets/laptopsnew.png">
</div>
</div>


