     <div class="row">
  <div class="col-12">
      <img class=questionmark src="../../../assets/que.png">
      <br>
      <!-- <p class="text"> Maybe we’ve already answered <br> your question, check our FAQ: </p> -->
  </div>
</div>
<div class="row">
    <div class="col-3">
      <!-- <p class=topics>
      <a>The basics</a><br>
      <a>Money talks</a><br>
      <a>Technical bits</a><br>
      <a>Anything Extra</a>
      </p> -->
      </div>
      <div class="col-9">
        <div>
            <input type="checkbox" id="question4" name="q" class="questions">
            <div class="plus">+</div>
            <label for="question4" class="question">
          Do you keep my library processing specifications on file?
            </label>
            <div class="answers">
              <p>Yes, Cavendish Square keeps all customer processing specifications on file. You won't need to fill out library processing forms each time you order, we’ll do it for you. You can download a processing form here. </p>
              
            </div>
          </div>
          <!-- _____________________________________________________ -->  
          <div>
            <input type="checkbox" id="question5" name="q" class="questions">
            <div class="plus">+</div>
            <label for="question5" class="question">
          What is the charge for processing?
            </label>
            <div class="answers">
              <p>We offer free processing on all orders over $350.  On orders less than $350 the cost of barcodes and marc records is $25.00 per order. </p>
              
            </div>
          </div>
          <!-- _____________________________________________________ -->  
          <div>
            <input type="checkbox" id="question6" name="q" class="questions">
            <div class="plus">+</div>
            <label for="question6" class="question">
          Are your books on Accelerated Reader®?
            </label>
            <div class="answers">
              <p>Accelerated Reader quizzes are available for many of our books.  The AR Logo will appear where quizzes are available.  For more about AR, please click here. </p>
              
            </div>
          </div>
          <!-- _____________________________________________________ -->  
          <div>
            <input type="checkbox" id="question7" name="q" class="questions">
            <div class="plus">+</div>
            <label for="question7" class="question">
          Are your books correlated to state and national standards?
            </label>
            <div class="answers">
              <p>Yes, all of our books are correlated to state and national standards. This web site’s correlation page will help you easily match our products with your state standards, and choose excellent selections for national standards. Otherwise, feel free to call us at 1-877-980-4450 and we’ll assist you in meeting your needs. </p>
              
            </div>
          </div>
      </div>
      <div class="space"></div>
