
  <div class="row">
    <div class="col-sm-4">
        <a routerLink="" > 
  <img class=logo src="../../../assets/consortym logo.png">
  <div id ="name"><span class="dot"></span> CONSORTYM <span class="dot"></span></div></a>
  <div   class= "left">
    <h1 class ="heading">Communication is everything ! </h1>
    <p class="content">
      We'll always reply within the next 12 Hrs. of receiving your message. 
    <br><br>
    <a class="button"  > E-mail us </a> 
    <a href="/home/#login-box" class="button"  > Get started </a> 
    </p>
  </div>
  </div>
    <div class="col-sm-8">
  <div class="header">
      <div class="container">
          <a  routerLink="" class="design" ><i class="icon ion-md-planet"></i> HOME</a>
          <a class="design"><i class="icon ion-logo-buffer"></i> PRODUCTS</a>
          <a class="design"><i class="icon ion-md-paper"></i> BLOG</a>
        <a routerLink="/login" class="button"  > LOG IN / SIGN UP </a> <br>
              <img class="img" src="../../../assets/team.png">    
                </div>
    </div>
  </div>
  