<div class="row">
  <div class="col-12">
    <div id="login-box">
        <h1> Start Your<br>Project Today</h1>
     
        <img class="logo"  src="../../../assets/consortym logo.png">
  
    <form>
      <div class="left">
        <input class="name" type="text" name="name"   placeholder="Your full name"  />
        <input class="username" type="text" name="email"   placeholder="Your email"  />
        <input class ="message"  name="message"   placeholder="Additional Message"  />
        <button type="submit" class="button">Lets get started</button>
    </div>
      </form>
      </div>
      </div>