<div class="row">
  <div class="col-12">
      
      <h1>Get started by selecting an example doc </h1>
      <h2> Choose an example that calls out to you or jump right in <br>by creating a new doc. </h2>
     
  
    </div>
    </div>
<div class="row" style="background-color: #9be353">
  <div class="col-4">
        <a routerLink="/contact">
             <div class="item">
          <img class="logo"  src="../../../assets/brainstorm.png">
          <h3>Brainstorm</h3>
          <p>Talk to our expert</p>
        </div>
        </a>
      </div>
      <div class="col-4">
            <a routerLink="/login">
          <div class="item">
                 <img class="logo"  src="../../../assets/Register.png">
          <h3>Register</h3>
          <p>Register and get the project</p>
            </div>
            </a>
            </div>
            <div class="col-4">
                <a routerLink="/login"><div class="item">
                    <img class="logo"  src="../../../assets/Integrate.png">
          <h3>Integrate</h3>
          <p>Our team will help you to integrate</p>
                  </div>
                </a>
                  </div>
                </div>