<div class="parallax">
<div id="login-box">
    <h1> Start Your<br>Project Today</h1>
 <div class="container">
    
      <img class="logo" style="padding-left:150px;height:100px;width:100px;" src="../../../assets/consortym logo.png">
     
  </div>

  <form >
  <div class="left">
    <input class="name" type="text" name="name"   placeholder="Your full name"  />
    <input class="username" type="text" name="email"   placeholder="Your email"  />
    <input class ="message"  name="message"   placeholder="Additional Message"  />
    <button type="submit" class="button">Lets get started</button>
</div>
  </form>
  </div>